[Unit]
Description=Gunicorn instance for MALS diagnostics service
After=network.target
[Service]
User=tehnoprog
Group=www-data
WorkingDirectory=/home/tehnoprog/projects/diagnostics/diagnostics-service
Environment="PATH=/home/tehnoprog/projects/diagnostics/diagnostics-service/venv/bin"
ExecStart=/home/tehnoprog/projects/diagnostics/diagnostics-service/venv/bin/gunicorn --workers 3 --bind unix:diagnostics-service.sock -m 007 wsgi:app
[Install]
WantedBy=multi-user.target
