[Unit]
Description=Gunicorn instance for MALS diagnostics service
After=network.target mongod.service
Wants=network.target mongod.service
Requires=mongod.service
[Service]
User=root
Group=root
WorkingDirectory=/home/tehnoprog/projects/diagnostics/diagnostics-service
Environment="PATH=/home/tehnoprog/projects/diagnostics/diagnostics-service/venv/bin"
ExecStart=/home/tehnoprog/projects/diagnostics/diagnostics-service/venv/bin/gunicorn --preload --workers 3 --bind unix:/gunicorn/diagnostics-service.sock wsgi:app
[Install]
WantedBy=multi-user.target
