[Unit]
Description=MongoD Service
After=network.target

[Service]
User=mongod
Group=mongod
ExecStart=/mongodb/mongod --config /etc/mongod.conf --dbpath /db/mongodb_data/ --logpath /var/log/mongodb/mongod.log
PIDFile=/var/run/mongod.pid
Type=simple
Restart=always
# Other directives omitted
# (file size)
LimitFSIZE=infinity
# (cpu time)
LimitCPU=infinity
# (virtual memory size)
LimitAS=infinity
# (locked-in-memory size)
LimitMEMLOCK=infinity
# (open files)
LimitNOFILE=64000
# (processes/threads)
LimitNPROC=64000

[Install]
WantedBy=multi-user.target
